<div id="side-buttons">
<div>
  <button type="button"
          class="btn btn-primary btn-lg"
          routerLinkActive='active'
          [routerLink]="['/bar-chart']"
          style="font-size: 13px;">
    Bar Chart
  </button>
  </div>
  <br>
  <div>
    <button type="button"
            class="btn btn-primary btn-lg"
            routerLinkActive='active'
            [routerLink]="['/line-chart']"
            style="font-size: 13px;">
      Line Chart
    </button>
  </div>
  <br>
  <div>
    <button type="button"
            class="btn btn-primary btn-lg"
            routerLinkActive='active'
            [routerLink]="['/doughnut-chart']"
            style="font-size: 13px;">
      Dnut Chart
    </button>
  </div>
  <br>
  <div>
      <button type="button"
              class="btn btn-primary btn-lg"
              routerLinkActive='active'
              [routerLink]="['/radar-chart']"
              style="font-size: 13px;">
        Radar Chart
      </button>
  </div>
  <br>
  <div>
      <button type="button"
              class="btn btn-primary btn-lg"
              routerLinkActive='active'
              [routerLink]="['/other-charts']"
              style="font-size: 12px;">
        Other Charts
      </button>
  </div>
  <br>
</div>
