<nav class="navbar navbar-light bg-light" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <h1>
            {{title}}
        </h1>
      </a>
    </div>
  </nav>
<div class='container-fluid'>
  <div class="row">
    <div class="col-md-6">
      <app-visualization></app-visualization>
    </div>
    <div class="col-md-6">
      <div>
        <app-data-table></app-data-table>
      </div>
      <br>
      <app-prediction></app-prediction>
    </div>
  </div>
</div>






