<div>
  <div>
    <h3>Doughnut Chart for Active Cards</h3>
  </div>
  <div style="display: block">
    <canvas baseChart
            [data]="chartData"
            [labels]="chartLabels"
            [chartType]="doughnutType"></canvas>
    <br>
<!--
  <div>
    <h3>Doughnut Chart for Fraud Losses</h3>
  </div>
    <canvas baseChart
            [data]="doughnutChartDataFraudLoss"
            [labels]="doughnutChartLabelsFraudLoss"
            [chartType]="doughnutType"></canvas>
  </div> -->
</div>
